.gitignore
.metadata/*
.recommenders/*
movie-catalog-service/.mvn/*
movie-catalog-service/.settings/*
movie-catalog-service/target/*
movie-catalog-service/.classpath/
movie-catalog-service/.gitignore
movie-catalog-service/.project
movie-catalog-service/HELP.md
movie-catalog-service/mvnw
movie-catalog-service/mvnw.cmd
movie-info-service/.mvn/*
movie-info-service/.settings/*
movie-info-service/target/*
movie-info-service/.classpath/
movie-info-service/.gitignore
movie-info-service/.project
movie-info-service/HELP.md
movie-info-service/mvnw
movie-info-service/mvnw.cmd
radio-data-service/.mvn/*
radio-data-service/.settings/*
radio-data-service/target/*
radio-data-service/.classpath/
radio-data-service/.gitignore
radio-data-service/.project
radio-data-service/HELP.md
radio-data-service/mvnw
radio-data-service/mvnw.cmd
/.metadata/
/.recommenders/
eureka-server/.mvn/*
eureka-server/.settings/*
eureka-server/target/*
eureka-server/.classpath/
eureka-server/.gitignore
eureka-server/.project
eureka-server/HELP.md
eureka-server/mvnw
eureka-server/mvnw.cmd
